* h1{
  margin: 0;
  /* height: 3100px; */
  font-family:'Comfortaa', cursive; 
  font-size: 56px;
}
header{
  background-image: url(../Assets/homepageimg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 1012px;
  /* opacity: 0.9; */
}
#mynav{
  background-color:rgba(7, 6, 2, 0.5); ;
} 
#mynav p{
  color: white;
  font-family: 'Cookie', cursive;
  font-size: 48px;
}
#mynav ul li a{
  font-family: 'Comfortaa', cursive;
  color: white;
  font-size: 24px;
}
a:hover{
  background-color:black;
  color: black;
}
#grievin{
  align-items: center;
 
  margin-top: 15%;
  line-height: 100px;
}
#grievin p{
  align-items: center;;
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 64px;
}
.view-work {
  display: flex;
  justify-content: center;
  
}
 button{
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  color: white;
  margin-top: 10vh;
  background-color:rgba(16, 34, 35, 1)
}
/* button a{
  text-decoration: none;
} */
#d-flex{
margin-left: 5%;
margin-right: 5%;
}

#myabout{
  box-sizing: border-box;
  border-radius: 10px;
  /* max-width: 90%; */
}
#myabout h3{
  font-size: 36px;
}
#myabout p{
  font-size: 24px;
}
#myabout img{
  border-radius: 5px;
}
#my-work{
  background-image: url(../Assets/workpageimg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 130vh;
}
#my-work h1{
  color: white;
}
#my-work p{
  color: white;
  font-size: 24px;
}

#card{
  float: left;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  background-color:#f5f5f5;
  transition: 0.3s;
  border-radius: 5px;
  width: 30%;
  height: 500px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 50px;
  align-items: center;
}
.card:hover{
  box-shadow: 0px 10px 10px #0f273e;;
  opacity: 0.8;
  cursor: pointer;
}
@media screen and (min-width: 400px){
  #my-work{
    background-image: url(../Assets/workpageimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 100%; */
    width: 100%;
  }
  #cards{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .contact-form{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  #card h1{
    font-size: large;
  }
}
#card h1{
  margin-top: 0px;
}
#card p{
  color: black;
}
#contact{
  clear: left;
}
#contact p{
  font-size: 24px;
}
.contact-form{
  width:50vh;
  height:50vh;
  /* margin-right: 30%; */
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #f5f5f5;
}
input{
  width:10vh;
  color: black;
  background-color: white;
  padding: 10px 150px 20px 5px;
  border-radius: 5px;
  margin: 10px 20px ;
  box-sizing: border-box;
}
label{
  margin: 20px;
  font-family: 'Comfortaa', cursive;
  font-weight: 500;
}
#submit{

  margin-left:7rem;
  background-color:rgba(16, 34, 35, 1) ;
  color: white;
  text-align: center;
}

textarea{
  width: 30vh;
  height: 10vh;
  border-radius: 5px;
  margin-left: 1.5rem;
  box-sizing: border-box;
}
.icofont{
  /* position: fixed; */
  width: 50px;
  border-radius: 5px;
  height: 50px;
  background-color: black
 
}
.icofont-long-arrow-up{
  color: white;
}
footer{
  background-color: rgba(16, 34, 35, 1);
  color: white;
  font-size: 18px;

}
footer p {
  margin-right: 50px;
  margin-bottom: 0px;
}