*{
  margin: 0;
  /* height: 3100px; */
}
header{
  background-image: url(../Assets/homepageimg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 1012px;
}
#my-work{
  background-image: url(../Assets/workpageimg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 867px; */
}
footer{
  background-color: rgba(16, 34, 35, 1);

}